# 选择调试器接口（ST-Link）
source [find interface/stlink.cfg]

# 选择目标芯片（STM32F4xx 系列）
source [find target/stm32f1x.cfg]

# 初始化硬件
#reset_config srst_only srst_nogate

# 指定要烧录的 HEX 文件（使用相对路径）
program "D:/PROJECT/Clion/STM32F103C8T6/cmake-build-debug-stm32/STM32F103C8T6.hex" verify

# 可选：烧录后复位并运行
reset run
