# 选择调试器接口（ST-Link）
source [find interface/stlink.cfg]

# 选择目标芯片（STM32F1x 系列）
source [find target/stm32f1x.cfg]

# 初始化硬件
#reset_config srst_only srst_nogate

# 自动编程命令
init
reset init
program build/Debug/LUNAR_RTOS.elf verify reset
shutdown